@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:ital,wght@0,700;0,900;1,400&display=swap');
@import url("./components/header.css");
@import url("./components/hero-section.css");
@import url("./components/program.css");
@import url("./components/speaker-section.css"); 

*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif !important;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-primary {
  background-color: #272a31 !important;
}

.bg-secondary {
  background-color: #ec5242 !important;
}

.bg-tertiary {
  background-color: #d3d3d3 !important;
}

.text-primary {
  color: #091e42 !important;
}

.text-secondary {
  color: #ec5242 !important;
}

.text-tertiary {
  color: #7f8cff !important;
}

.underline {
  width: 50px;
  height: 4px;
  background-color: #ec5242;
}