.navbar-toggler {
    background: none !important;
}

.navbar-nav li:not(:last-child) {
    margin-right: 24px;
}

.nav-item-btn {
    border: 4px solid #EC5242;
    background-color: #fff !important;
    border-radius: 0 !important;
    color: #EC5242;
}

.nav-item-btn:hover {
    color: #EC5242;
}