.main-program {
  padding: 75px 0;
}

.program-card {
  width:100%;
  background-color: rgba(177, 170, 170, 0.2);
}

.card {
  border-radius: 0 !important;
}

.card-text {
  width:50%;
  font-size:12px;
}

.item-name{
  font-size: 20px;
}

@media only screen and (min-width:991px) {
  .program-card {
    max-width: 12rem !important;
  }

  .item-name{
    font-size: 24px;
  }

  .card-text {
    width:75%;
    font-size:10px;
  }

}